services:
  database:
    build:
      context: .
      dockerfile: Dockerfile.mysql
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_PORT: ${DATABASE_PORT}
    volumes:
      - db_data:/var/lib/mysql
  nodejs_app:
    build:
      context: .
      dockerfile: Dockerfile.Nodejs
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    depends_on:
      - database
volumes:
  db_data:
