extends layout

block content
    .page-header
        h1 Blogs
        p Read our latest blog posts

    .articles-grid#blogs-container
        .loading Loading blogs...

block scripts
    script(src="/js/blogs.js")
