doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title || 'Articles Platform'
        link(rel="stylesheet" href="/css/style.css")
        //- CDN voor Socket.IO client
        script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
        //- CDN voor Axios
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")

    body
        nav.navbar
            .container
                .nav-brand
                    a(href="/") Home

        main.main-content
            .container
                block content

        footer.footer
            .container
                p &copy; 2025 Opdracht Frameworks

        block scripts
