extends layout

block content
    .page-header
        h1 Vlogs
        p Watch our latest video content

    .articles-grid#vlogs-container
        .loading Loading vlogs...

block scripts
    script(src="/js/vlogs.js")
